<div>

	<table class="tablesorter">
		<tbody>
		
  <% @sessions.each do |session| %>
			<tr>
				<th class="title"><%= session.title %></th>
				<td class="stage"><p>Agile <%= session.year %></p><p><%= session.stage %></p></td>
				<td class="description">
					<p><strong>Type:</strong> <%= session.type %></p>
					<p><strong>Presented by: </strong><%= session.speakers.map(&:name).join(", ") %></p>

<% if session.videos.any? then %>
<p>(Video available to members)</p>
<% end %>
<% session.records.each do |record| %>
  <p>
  <a href='<%= record.url %>'>Download (<%= record.url[-3..-1].downcase %>)</a>
  </p>
<% end %>


					<p><a href="/sessions/<%= session.id %>">More info</a></p>
				<td/>
			</tr>

  <% end %>

		</tbody>
	</table>

</div>
