<h1><%= @session.title %></h1>
<h2>Presented by <%= @speaker_list %></h2>
<%= @embed %>
<p/>
<p><strong>Stage:</strong> <%= @session.stage %></p>
<p><strong>Session type:</strong> <%= @session.type %></p>
<p><strong>Conference:</strong> Agile <%= @session.year %></p>
<div><%= @session.description.gsub("\n","<br/>") %></div>

<% @session.records.each do |record| %>
  <p>
  <a href='<%= record.url %>'>Download (<%= record.url[-3..-1].downcase %>)</a>
  </p>
<% end %>