<h1><%= @session.title %></h1>
<h2>Presented by <%= @session.speakers.map(&:name).join(", ") %></h2>
<p/>
<p><strong>Stage:</strong> <%= @session.stage %></p>
<p><strong>Session type:</strong> <%= @session.type %></p>
<p><strong>Conference:</strong> Agile <%= @session.year %></p>
<div><%= @session.description.gsub("\n","<br/>") %></div>
